/* bootstrap-twitter - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/bootstrap/css/bootstrap.min.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/bootstrap/css/bootstrap.min.css);
/* font-awesome - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/core/assets/css/font-awesome.min.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/core/assets/css/font-awesome.min.css);
/* yit-faq - https://tiendatstore.vicoders.com/wp-content/plugins/yit-faq/assets/css/yit-faq.css */
@import url(https://tiendatstore.vicoders.com/wp-content/plugins/yit-faq/assets/css/yit-faq.css);
/* slider-logo-shortcode - https://tiendatstore.vicoders.com/wp-content/plugins/yit-logos/assets/css/logos_slider.css */
@import url(https://tiendatstore.vicoders.com/wp-content/plugins/yit-logos/assets/css/logos_slider.css);
/* owl-slider - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/owl.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/owl.css);
/* yit-testimonial - https://tiendatstore.vicoders.com/wp-content/plugins/yit-testimonial/assets/css/yit-testimonial.css */
@import url(https://tiendatstore.vicoders.com/wp-content/plugins/yit-testimonial/assets/css/yit-testimonial.css);
/* prettyPhoto - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/templates/sliders/parallax/css/prettyPhoto.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/templates/sliders/parallax/css/prettyPhoto.css);
/* idangerous-swiper - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/templates/sliders/banners/css/idangerous.swiper.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/templates/sliders/banners/css/idangerous.swiper.css);
/* slider-banners - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/templates/sliders/banners/css/slider.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/templates/sliders/banners/css/slider.css);
/* slider-flexslider - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/templates/sliders/flexslider/css/flexslider.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/templates/sliders/flexslider/css/flexslider.css);
/* theme-stylesheet - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/style.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/style.css);
/* yit-woocommerce - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/woocommerce/style.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/woocommerce/style.css);
/* shortcodes - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/shortcodes.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/shortcodes.css);
/* widgets - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/widgets.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/widgets.css);
/* blog-stylesheet - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/blog.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/blog.css);
/* masterslider-style - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/lib/masterslider/style/masterslider.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/lib/masterslider/style/masterslider.css);
/* comment-stylesheet - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/comment.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/comment.css);
/* animate - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/animate.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/animate.css);
/* scrollbar - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/scrollbar.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/scrollbar.css);
/* google-fonts - //fonts.googleapis.com/css?family=Open+Sans:regular,600,700,400,500,300,800|Source+Sans+Pro:regular|Open+Sans+Condensed:300,800 */
@import url(//fonts.googleapis.com/css?family=Open+Sans:regular,600,700,400,500,300,800|Source+Sans+Pro:regular|Open+Sans+Condensed:300,800);
/* cache-dynamics - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/cache/dynamics.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/cache/dynamics.css);
/* responsive - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/responsive.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/theme/assets/css/responsive.css);
/* custom - https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/custom.css */
@import url(https://tiendatstore.vicoders.com/wp-content/themes/nielvmms/custom.css);
