h3.product-name {
    max-height: 65px;
    min-height: 65px;
    overflow: hidden;
}

@media (min-width: 767px) and (max-width: 1024px){
.product.col-sm-2 {
    width: 25%;
}

ul.products li.product.first {
    clear: none; 
}
}

ul.products li.product.first {
    clear: none; 
}

#yith-ajaxsearchform .sbHolder {
display:none;
}