/*****************
* STAR RATING
*********************/

.woocommerce #review_form p.stars a.star-1, .woocommerce-page #review_form p.stars a.star-1 { width: 14px; z-index: 10; }
.woocommerce #review_form p.stars a.star-2, .woocommerce-page #review_form p.stars a.star-2 { width: 28px; z-index: 9; }
.woocommerce #review_form p.stars a.star-3, .woocommerce-page #review_form p.stars a.star-3 { width: 42px; z-index: 8; }
.woocommerce #review_form p.stars a.star-4, .woocommerce-page #review_form p.stars a.star-4 { width: 56px; z-index: 7; }
.woocommerce #review_form p.stars a.star-5, .woocommerce-page #review_form p.stars a.star-5 { width: 71px; z-index: 6; }

.woocommerce-tabs #review_form .stars a:before {
    visibility: hidden;
}
.woocommerce-tabs #review_form p.stars a:hover:before, .woocommerce-tabs #review_form p.stars a:focus:before, .woocommerce-tabs #review_form p.stars a.active:before {
    visibility: visible;
}

.woocommerce-product-rating .woocommerce-review-link {
    display: inline-block;
    vertical-align: middle;
}
/*****************************
* INPUT FORM WOOCOMMERCE
********************************/

.woocommerce form .form-row-wide,
.woocommerce form .form-row-last,
.woocommerce form .form-row-first,
.woocommerce-page form .form-row-wide,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
    margin-bottom: 15px;
}
.woocommerce input[type="text"], .woocommerce input[type="password"], .woocommerce input[type="email"], .woocommerce textarea,
.woocommerce-page input[type="text"], .woocommerce-page input[type="password"], .woocommerce-page input[type="email"], .woocommerce-page textarea {
    width: 100%;
}
.woocommerce-checkout #order_comments {
    padding: 5px 10px;
}
.woocommerce form .form-row-first, .woocommerce-page form .form-row-first {
    width: 49%;
    float: left;
}
.woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
    width: 49%;
    float: right;
}
.woocommerce p.form-row label,
.woocommerce-page p.form-row label,
#ship-to-different-address label {
    font-weight: 400;
}
.woocommerce p.form-row label abbr,
.woocommerce-page p.form-row label abbr {
    border-bottom: 0;
}
.woocommerce p.form-row .sbHolder .sbSelector,
.woocommerce ul.variations .sbHolder .sbSelector,
.widget.woocommerce.widget_layered_nav > .sbHolder .sbSelector {
    height: 35px;
    padding: 5px 10px;
}
.woocommerce ul.variations .sbHolder .sbSelector {
    background-color: #fff;
}
.woocommerce p.form-row .sbHolder .sbToggle,
.woocommerce ul.variations .sbHolder .sbToggle,
.widget.woocommerce.widget_layered_nav > .sbHolder .sbToggle {
    top: 8px;
}
.woocommerce form.cart-page .sbHolder ul,.woocommerce section.shipping-calculator-form .sbHolder ul {
    overflow-y: scroll;
    margin-top: 15px;
    height: 250px;
}
.woocommerce ul.variations .select_box_select.select_box {
    display: none;
}
.woocommerce .form-row .chosen-container {
    width: 100% !important;
}
.woocommerce form .form-row a.chosen-single,
.woocommerce-page form .form-row a.chosen-single {
    width: 100%;
    height: 35px !important;
    border-radius: 0;
    box-shadow: none;
    background: none;
    border: 1px solid;
    padding: 0 10px;
}
.woocommerce form .form-row .chosen-container-single .chosen-drop,
.woocommerce-page form .form-row .chosen-container-single .chosen-drop {
    border-radius: 0;
}
.woocommerce form .form-row.validate-required.woocommerce-invalid .chosen-drop,
.woocommerce form .form-row.validate-required.woocommerce-invalid .chosen-single,
.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,
.woocommerce form .form-row.validate-required.woocommerce-invalid select,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid .chosen-drop,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid .chosen-single,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid select {
    border-color: #a51d1d;
    opacity: 0.8;
}
.woocommerce form .form-row .chosen-container-single .chosen-single span,
.woocommerce-page form .form-row .chosen-container-single .chosen-single span {
    line-height: 35px;
}

.select2-container{
    width: 100% !important;
}

.select2-container a{
    border-radius: 0 !important;
    height: 35px !important;
}

.select2-container a b[role='presentation']:after{
    border: 0 !important;
}

.woocommerce-checkout form .form-row .chosen-container-single .chosen-single div b,
.woocommerce-page form .form-row .chosen-container-single .chosen-single div b,.select2-container a b[role='presentation'],.select2-container a span.select2-arrow{
    background: url('../theme/assets/images/sprite-toggle.png') no-repeat top !important;
}
.woocommerce-checkout form .form-row .chosen-container-single.chosen-with-drop .chosen-single div b,
.woocommerce-page form .form-row .chosen-container-single.chosen-with-drop .chosen-single div b,.select2-container a b[role='presentation'],.select2-container a span.select2-arrow {
    background-position: bottom !important;
}

.select2-dropdown-open a b[role='presentation'],.select2-dropdown-open a span.select2-arrow{
    background-position: top !important;
}

.woocommerce form .form-row .chosen-container-single .chosen-single div,
.woocommerce-page form .form-row .chosen-container-single .chosen-single div, .select2-container a span.select2-arrow {
    width: 20px;
    height: 20px;
    top: 7px;
    right: 7px;
}

.select2-container .select2-choice .select2-arrow {
    height:20px;
    top: 6px;
    right: 6px;
}

.select2-container .select2-choice {
    padding: 5px 0 0 8px;
    border: 1px solid #dbd8d8;
}

.select2-drop-active {
    border: 1px solid #dbd8d8;
    border-top: 0;
}

.woocommerce-cart #calc_shipping_country,.woocommerce-cart #calc_shipping_state {
    width: 100%;
    height: 35px;
}


/**********************
* QUANTITY INPUT
************************/

.woocommerce .quantity, .woocommerce-page .quantity {
    width: 83px;
    height: 35px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.woocommerce .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce .quantity .minus, .woocommerce .quantity .plus,
.woocommerce-page .quantity .minus, .woocommerce-page .quantity .plus {
    background-color: #fff;
    border: 1px solid;
    left: 24px;
    height: 100%;
    position: absolute;
    width: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0;
    text-align: center !important;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border-radius: 0;
    border-color: inherit;
}
.woocommerce .quantity .minus:hover, .woocommerce .quantity .plus:hover,
.woocommerce-page .quantity .minus:hover, .woocommerce-page .quantity .plus:hover {
    background: #dfdada;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.woocommerce .quantity .minus, .woocommerce .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page .quantity .plus {
    display: block;
    margin: 0;
    vertical-align: text-top;
    font-size: 16px !important;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 25px;
    height: 100%;
    overflow: visible;
    text-decoration: none;
    cursor: pointer;
    line-height: 13px;
}
.woocommerce .quantity .plus, .woocommerce-page .quantity .plus {
    left: 58px;
}

/***************************************************
* NOTICE WOOCOMMERCE
*****************************************************/
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    position: relative;
    min-height: 60px;
    padding: 20px 10px 14px 70px;
    margin-bottom: 20px;
    border: 1px solid;
}
.woocommerce-message:after,
.woocommerce-error:after,
.woocommerce-info:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid;
    pointer-events: none;
    opacity: 0.5;
}
.woocommerce-message { color: #797b34; }
.woocommerce-message:after { border-color: #dae678; }

.woocommerce-error li { color: #a51d1d; list-style: none; }
.woocommerce-error:after { border-color: #f6a2a2; }

.woocommerce-message:before,
.woocommerce-info:before,
.woocommerce-error:before {
    font-family: 'retinaicon-font';
    position: absolute;
    left: 20px;
    top: 3px;
    bottom: 3px;
    font-size: 30px;
    line-height: 60px;
    font-weight: 400;
}
.woocommerce-info:before { content: "\e421"; }
.woocommerce-message:before { content: "\e41b"; color: #dae678; }
.woocommerce-error:before { content: "\e41c"; color: #a51d1d; }

.woocommerce-message .button.wc-forward {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-indent: -99999px;
    overflow: hidden;
}

/***************
 *MAGNIFIER
 ******************/
.yith_magnifier_lens {
    z-index: 25 !important;
}
.yith_magnifier_zoom_magnifier {
    z-index: 50 !important;
}
.yith_magnifier_mousetrap{
    z-index: 100 !important;
}
.yith_magnifier_zoom_wrap, .yith_magnifier_loading {
    z-index: 200 !important;
}

/******************************
* SHOP PAGE
*******************************/

#yith-wcwl-popup-message {
    display: none !important;
}
.woocommerce ul.products,
.woocommerce-page ul.products {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    margin-bottom: 25px;
    text-align: center;
    position: relative;
}
ul.products li.product.first {
    clear: both;
}
.woocommerce ul.products li .product-wrapper,
.woocommerce-page ul.products li .product-wrapper {
    border-width: 1px;
    border-style: solid;
    position: relative;
}
.woocommerce ul.products li .product-wrapper .product-meta-wrapper,
.woocommerce-page ul.products li .product-wrapper .product-meta-wrapper{
 padding: 0 5px;
}
.woocommerce ul.products li .product-wrapper .thumb-wrapper,
.woocommerce-page ul.products li .product-wrapper .thumb-wrapper {
    position: relative;
}
.woocommerce ul.products li.product .thumb img,
.woocommerce-page ul.products li.product .thumb img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}
.woocommerce ul.products li.product .thumb-wrapper .face,
.woocommerce ul.products li.product .thumb-wrapper .face.back,
.woocommerce ul.products li.product .thumb-wrapper .thumb,
.woocommerce ul.products li.product .thumb-wrapper .thumb.backface {
    display: block;
}
.woocommerce ul.products li.product .product-wrapper:hover .thumb-wrapper:not( .no-hover ) a.thumb.backface .face,
.woocommerce ul.products li.product .thumb-wrapper a.thumb.backface .face.back {
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.woocommerce ul.products li.product .product-wrapper:hover .thumb-wrapper:not( .no-hover ) a.thumb.backface .face.back,
.woocommerce ul.products li.product .thumb-wrapper a.thumb.backface .face {
    opacity: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.woocommerce ul.products li.product .thumb-wrapper a.thumb.backface .face.back {
    position: absolute;
    top: 0;
    width: 100%;
}
ul.products li .product-wrapper .thumb-wrapper .onsale-icon,
.single-product.woocommerce div.product div.images span.onsale-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
}
.single-product.woocommerce div.product div.images span.onsale-icon {
    top: 10px;
    right: 10px;
}
ul.products li.product.grid .product-wrapper .product-meta-wrapper {
    border-top-width: 1px;
    border-top-style: solid;
    padding: 10px 5px 0;
}
ul.products li.product .product-wrapper .product-meta-wrapper h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
ul.products li.product .product-wrapper .product-meta-wrapper .price {
    display: block;
    margin-bottom: 5px;
}
ul.products li.product .product-wrapper .product-meta-wrapper .price del,
.single-product.woocommerce div.product div.summary .price del {
    font-size: 90%;
    opacity: 0.5;
}
ul.products li.product .product-wrapper .product-meta-wrapper .price ins,
.single-product.woocommerce div.product div.summary .price ins {
    text-decoration: none;
}
ul.products li.product .product-wrapper .product-meta-wrapper .price .from,
.single-product.woocommerce div.product div.summary .price .from {
    font-size: 90%;
}
ul.products li.product .product-wrapper .product-meta-wrapper .woocommerce-product-rating {
    margin-bottom: 15px;
}
ul.products li.product .product-wrapper .product-meta-wrapper .woocommerce-product-rating .star-rating {
    margin-right: 0;
}
ul.products li.product:not( .list ) .product-wrapper .product-meta-wrapper .product-description {
    display: none;
}
ul.products li.product .product-wrapper .product-actions-wrapper {
    border-top-width: 1px;
    border-top-style: solid;
    position: relative;
}
ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button {
    border-width: 3px;
    border-style: solid;
}
ul.products li.product .product-wrapper .product-actions-wrapper.with-wishlist .product-action-button {
    margin-right: 30px;
}
ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button a,
ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button > span {
    display: block;
    padding: 5px;
}
ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button a.added_to_cart.wc-forward {
    display: none !important;
}
ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button img.icon-add-to-cart {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin: 0 5px;
}
ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button a span {
    display: inline-block;
    vertical-align: middle;
}
ul.products li.product .product-wrapper .product-actions-wrapper .yith-wcwl-add-to-wishlist {
    text-align: center;
    margin-top: 0;
    border-left: 1px solid;
    position: absolute;
    width: 30px;
    top: 0;
    bottom: 0;
    right: 0;
}
ul.products li.product .product-wrapper .product-actions-wrapper .yith-wcwl-add-to-wishlist:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
ul.products li.product .product-wrapper .product-actions-wrapper .yith-wcwl-add-to-wishlist > div.show {
    display: inline-block !important;
    vertical-align: middle;
    position: relative;
    padding: 0 1px;
}
ul.products li.product .product-wrapper .product-actions-wrapper .yith-wcwl-add-to-wishlist a > span {
    font-size: 15px;
}
.yith-wcwl-add-to-wishlist a > span:before {
    display: inline-block;
    vertical-align: middle;
}
ul.products li.product .product-wrapper .thumb-wrapper .product-quick-view-button,
ul.products li.product .product-wrapper .thumb-wrapper.no-hover .added-to-cart-icon,
.woocommerce .quick-view-overlay .added-to-cart-icon,.quick-view-overlay .added-to-cart-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
ul.products li.product .product-wrapper .thumb-wrapper .product-quick-view-button {
    pointer-events: none;
}
ul.products li.product .product-wrapper .thumb-wrapper.no-hover .added-to-cart-icon {
    background-color: rgba( 255, 255, 255, 0.5);
    z-index: 10;
}
ul.products li.product .product-wrapper .thumb-wrapper .product-quick-view-button:before,
ul.products li.product .product-wrapper .thumb-wrapper.no-hover .added-to-cart-icon:before,
.woocommerce .quick-view-overlay .added-to-cart-icon:before, .quick-view-overlay .added-to-cart-icon:before {
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}
ul.products li.product .product-wrapper .thumb-wrapper .product-quick-view-button a,
.widget.featured-products .product-quick-view-button a{
    display: inline-block;
    vertical-align: middle;
    padding: 5px 20px;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    pointer-events: all;
}
ul.products li.product .product-wrapper:hover .thumb-wrapper:not( .no-hover ) .product-quick-view-button a,
.widget.featured-products:hover .product-quick-view-button a{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
ul.products li.product .product-wrapper .thumb-wrapper.no-hover .added-to-cart-icon,
.woocommerce .quick-view-overlay .added-to-cart-icon,.quick-view-overlay .added-to-cart-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( 255, 255, 255, 0.5);
    z-index: 10;
}
ul.products li.product .product-wrapper .thumb-wrapper.no-hover .added-to-cart-icon span,
.woocommerce .quick-view-overlay .added-to-cart-icon span, .quick-view-overlay .added-to-cart-icon span {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 25px;
    background: #9aa303;
}



/******** LIST VIEW ****************/

.woocommerce ul.products li.product.list, .woocommerce-page ul.products li.list {
    width: 100%;
}
ul.products li.product.list .product-wrapper .thumb-wrapper,
ul.products li.product.list .product-wrapper .woocommerce-product-rating,
ul.products li.product.list .product-actions-wrapper {
    float: left;
}
ul.products li.product.list .product-wrapper .thumb-wrapper {
    margin-bottom: 0;
    border-bottom: 0;
}
ul.products li.product.list .product-wrapper .product-meta-wrapper,
ul.products li.product.list .product-wrapper .product_actions_container {
    display: inline-block;
    float: right;
}
.woocommerce ul.products li.product.list .product-meta-wrapper .product-name,
.woocommerce ul.products li.product.list .product-meta-wrapper span.price {
    text-align: left;
    margin-top: 0;
}
.woocommerce ul.products li.product.list .product-meta-wrapper span.price {
    margin-bottom: 10px;
}
.woocommerce ul.products li.product.list .product-meta-wrapper .product-description {
    clear: both;
}
ul.products li.product.list .product-wrapper .product-actions-wrapper {
    border-width: 1px;
    border-style: solid;
    margin-bottom: 20px;
}
ul.products li.product.list .product-wrapper .product-meta-wrapper {
    padding: 20px 10px 0 0;
    margin-bottom: 10px;
}
ul.products li.product.list .product-wrapper .product-actions-wrapper .product-action-button {
    padding: 5px 10px;
}
/********************************/

#page-meta .page-meta-wrapper {
    border-width: 2px;
    border-style: solid;
    margin-bottom: 20px;
    padding: 8px 20px;
}
#page-meta .page-title {
    margin-top: 0;
    margin-bottom: 10px;
}
#page-meta .woocommerce-ordering {
    float: right;
}
#list-or-grid, #number-of-products {
    float: left;
}
#list-or-grid {
    margin-right: 20px;
    margin-bottom: 0;
}
#list-or-grid span, #number-of-products span,
#list-or-grid a, #number-of-products a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
#number-of-products a {
    margin-right: 0;
}
#number-of-products a:after {
    content: '/';
    margin-left: 2px;
}
#number-of-products a:last-child:after {
    content: '';
}
#list-or-grid a:before, #number-of-products a:before {
    display: block;
}
#page-meta .woocommerce-ordering .sbSelector {
    border: none;
    display: inline-block;
    margin-right: 10px;
}
#page-meta .woocommerce-ordering .sbToggle {
    position: static;
    display: inline-block;
    float: right;
    border: 2px solid;
    background-size: 80%;
    background-position: center 1px;
    width: 22px;
    height: 19px;
}
#page-meta .woocommerce-ordering .sbToggle.sbToggleOpen {
    background-position: center bottom;
}
#page-meta .woocommerce-ordering .sbHolder .sbOptions {
    width: 150px;
    left: auto;
    margin: 13px 0 0;
    -webkit-box-shadow: 1px 1.732px 3px 0px rgba( 0, 0, 0, 0.19 );
    -moz-box-shadow: 1px 1.732px 3px 0px rgba( 0, 0, 0, 0.19 );
    box-shadow: 1px 1.732px 3px 0px rgba( 0, 0, 0, 0.19 );
}
#page-meta .woocommerce-ordering .sbHolder .sbOptions li {
    padding-bottom: 5px;
}
#page-meta .woocommerce-ordering .sbHolder .sbOptions li a {
    font-weight: 400 !important;
}
/************************************
* PAGINATION SHOP
*************************************/

nav.woocommerce-pagination {
    margin-bottom: 35px;
}
nav.woocommerce-pagination:after,
nav.woocommerce-pagination:before {
    content: '';
    display: table;
}
nav.woocommerce-pagination:after {
    clear: both;
}
nav.woocommerce-pagination .page-numbers {
    display: inline-block;
    border: 3px solid;
    margin-right: 2px;
    padding: 4px 8px;
    width: 29px;
}
nav.woocommerce-pagination .page-numbers:last-child {
    margin-right: 0;
}
nav.woocommerce-pagination .page-numbers.current {
    font-weight: 700;
    cursor: default;
}
nav.woocommerce-pagination .page-numbers:hover {
    font-weight: 700;
}
/***********************
* SINGLE PRODUCT PAGE
*************************/

.single-product.woocommerce div.product div.images {
    float: left;
    position: relative;
    margin-bottom: 30px;
}
.single-product.woocommerce div.product div.images > a img,
.single-product.woocommerce div.product div.images .yith_magnifier_zoom_wrap  img {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
}
.single-product.woocommerce div.product div.images > a,
.single-product.woocommerce div.product div.images .yith_magnifier_zoom_wrap,
.single-product.woocommerce div.product div.images .product-video {
    display: block;
    margin-bottom: 20px;
}
.single-product.woocommerce div.product div.images div.thumbnails > a {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.single-product.woocommerce div.product div.images .thumbnails.slider .yith_magnifier_gallery .owl-item {
    text-align: center;
}
.single-product.woocommerce div.product div.images .thumbnails.slider .yith_magnifier_gallery li {
    text-align: center;
    display: inline-block;
    float: none;
}
.single-product.woocommerce div.product div.images .thumbnails.slider .yith_magnifier_gallery li a {
    width: auto !important;
    display: inline-block;
}
.single-product.woocommerce div.product div.images .thumbnails.noslider .yith_magnifier_gallery li {
    margin-right: 20px;
}
.single-product.woocommerce div.product div.images .yith_magnifier_gallery li a {
    margin-top: 0;
}
.single-product.woocommerce div.product div.images span.onsale-icon {
    z-index: 300;
    pointer-events: none;
}
.single-product.woocommerce div.product div.summary {
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
}
.single-product.woocommerce div.product div.summary h1 {
    margin-top: 0;
}

/******* PRODUCT NAVIGATION LINK **********/

#product-nav {
    position: absolute;
    top: 0;
    right: 0;
}
#product-nav div.prev-product,
#product-nav div.next-product {
    display: none;
}
#product-nav > a {
    display: inline-block;
    border: 1px solid;
    border-color: inherit;
    padding: 6px 2px 4px;
}
#product-nav > a > span {
    display: block;
}
#product-nav > a:hover > div {
    display: block;
    position: absolute;
    border: 1px solid;
    border-color: inherit;
    top: 100%;
    right: 0;
    margin-top: 10px;
    z-index: 10;
    width: 90px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
#product-nav > a div.product-info {
    padding: 0 5px;
}
#product-nav > a div.product-info h5 {
    word-wrap: break-word;
}
#product-nav > a div.product-info p {
    text-align: center;
}
#product-nav > a div.product-info p del {
    opacity: 0.5;
    font-size: 90%;
    display: block;
}
#product-nav > a div.product-info p ins {
    text-decoration: none;
}
#product-nav > a div.product-info p .from {
    display: none;
}

/******** END PRODUCT NAVIGATION ********/

.single-product.woocommerce div.product div.summary .woocommerce-breadcrumb,
.single-product.woocommerce div.product div.summary .woocommerce-product-rating {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 10px;
}
.single-product.woocommerce div.product div.summary p.price {
    display: inline-block;
}
.single-product.woocommerce div.product div.summary p.price:before,
.single-product.woocommerce div.product div.summary p.price:after,
.single-product.woocommerce div.product div.summary #inquiry-form:before,
.single-product.woocommerce div.product div.summary #inquiry-form:after,
#modal-window:before,
#modal-window:after {
    content: '';
    border-bottom: 4px solid;
    display: block;
    width: 60px;
}
.single-product.woocommerce div.product div.summary p.price:before,
.single-product.woocommerce div.product div.summary #inquiry-form:before,
#modal-window:before {
    margin-bottom: 10px;
}
.single-product.woocommerce div.product div.summary p.price:after,
.single-product.woocommerce div.product div.summary #inquiry-form:after,
#modal-window:after {
    margin-top: 10px;
}
.single-product.woocommerce div.product div.summary div[itemprop="description"] p {
    margin-bottom: 25px;
}

/******************* INQUIRY FORM AND SIZE CHART *********************/

#inquiry-form, #modal-window {
    margin-bottom: 20px;
}
#inquiry-form div.product-inquiry {
    cursor: pointer;
    display: inline-block;
}
#inquiry-form div.product-inquiry span.inquiry-title,
#modal-window .modal-shortcode .modal-opener a {
    font-weight: 600;
}
#inquiry-form div.product-inquiry span.icon-form,
#modal-window span.icon-form {
    font-size: 20px;
    margin-right: 5px;
}
#inquiry-form div.product-inquiry span.icon-form,
#inquiry-form div.product-inquiry span.icon-form:before,
#inquiry-form div.product-inquiry span.inquiry-title,
#modal-window span.icon-form,
#modal-window span.icon-form:before,
#modal-window .modal-shortcode {
    display: inline-block;
    vertical-align: middle;
}
#inquiry-form form fieldset {
    padding-top: 20px;
}
#inquiry-form .contact-form ul li {
    margin-bottom: 30px;
}

/*********************************/

.single-product.woocommerce div.product div.summary form.cart {
    border: 1px solid;
    padding: 0 10px 10px;
    margin-bottom: 15px;
}
.single-product.woocommerce div.product div.summary form.cart:before,
.single-product.woocommerce div.product div.summary form.cart:after {
    content: '';
    display: table;
}
.single-product.woocommerce div.product div.summary form.cart table.group_table {
    margin: 10px 0;
    width: 100%;
}
.single-product.woocommerce div.product div.summary form.cart table.group_table tr td {
    padding: 5px 0;
}
.single-product.woocommerce div.product div.summary form.cart table.group_table tr td:first-child {
    width: 100px;
}
.single-product.woocommerce div.product div.summary form.cart table.group_table tr .label {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    line-height: normal;
}
.single-product.woocommerce div.product div.summary form.cart table.group_table tr label {
    margin-bottom: 0;
}
.single-product.woocommerce div.product div.summary form.cart:after {
    clear: both;
}
.single-product.woocommerce div.product div.summary form.cart h4,
.single-product.woocommerce div.product form.cart ul.variations label {
    margin: 15px 0;
}
.single-product.woocommerce div.product div.summary form.cart .reset_variations {
    margin: 5px 0 10px;
    display: inline-block;
}
.single-product.woocommerce div.product div.summary form.cart .variations {
    list-style: none;
    padding: 0;
}
.single-product.woocommerce div.product div.summary form.cart .variations .select_option {
    margin-right: 5px;
    background-color: #fff;
}
.single-product.woocommerce div.product div.summary form.cart .variations .select_option_colorpicker,
.single-product.woocommerce div.product div.summary form.cart .variations .select_option span,
.single-product.woocommerce div.product div.summary form.cart .variations .select_option img {
    border: none;
}
.single-product.woocommerce div.product div.summary form.cart .variations .select_option_colorpicker span {
    padding: 1px;
    background-clip: content-box !important;
    width: 30px;
    height: 30px;
}
.single-product.woocommerce div.product div.summary form.cart .variations .select_option_colorpicker.selected span,
.single-product.woocommerce div.product div.summary form.cart .variations .select_option_colorpicker:hover span {
    border: 1px solid #999595;
}
.single-product.woocommerce div.product div.summary form.cart .quantity,
.single-product.woocommerce div.product div.summary form.cart .single_add_to_cart_button {
    float: left;
}
.single-product.woocommerce div.product div.summary form.cart .single_add_to_cart_button {
    margin-right: 10px;
    margin-top: 0;
}
.single-product.woocommerce div.product-type-external div.summary p.cart {
    display: inline-block;
}
.single-product.woocommerce div.product div.summary p.stock.out-of-stock {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    border: 1px solid;
    padding: 10px 15px;
    font-weight: 600;
    margin-right: 10px;
}
.single-product.woocommerce div.product div.summary p.stock.out-of-stock:before {
    font-family: 'retinaicon-font';
    content: '\e41c';
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.single-product.woocommerce div.product div.summary .yith-wcwl-add-to-wishlist {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 5px 7px;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
}
.single-product.woocommerce div.product div.summary .single-product-other-action {
    border-width: 1px;
    border-style: solid;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 15px;
}
.single-product.woocommerce div.product div.summary .single-product-other-action .share-link-wrapper,
.single-product.woocommerce div.product div.summary .single-product-other-action .compare-button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    float: left;
}
.single-product.woocommerce div.product div.summary .single-product-other-action .yith-wcwl-add-to-wishlist {
    border: none;
    border-left: 1px solid;
    border-left-color: inherit;
    margin-left: -1px;
    vertical-align: middle;
    padding: 10px;
    float: left;
}
.single-product.woocommerce div.product div.summary .single-product-other-action .share-label {
    margin-right: 20px;
    vertical-align: middle;
}
.single-product.woocommerce div.product div.summary .single-product-other-action ul.socials {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.single-product.woocommerce div.product div.summary .single-product-other-action ul.socials li {
    display: inline-block;
    font-size: 18px;
    margin: 0 10px;
}
.single-product.woocommerce div.product div.summary .single-product-other-action .compare-button {
    border-left: 1px solid;
    border-left-color: inherit;
    margin-top: 0;
    font-size: 17px;
    margin-left: -1px;
}
.single-product.woocommerce div.product div.summary .single-product-other-action .yith-wcwl-add-to-wishlist a > span:before {
    padding: 6px 3px 2px;
}
.single-product.woocommerce div.product div.summary .single-product-other-action .compare-button a {
    width: 18px;
    height: 14px;
    overflow: hidden;
    text-indent: 100%;
    background: url('images/sprite-shop.png') no-repeat top center;
    display: block;
    margin: 6px 3px;
}
.single-product.woocommerce div.product div.summary .single-product-other-action .compare-button a:hover,
.single-product.woocommerce div.product div.summary .single-product-other-action .compare-button a.added {
    background-position: bottom center;
}
.single-product.woocommerce div.product div.summary .single-product-other-action .clear {
    display: none;
}
.single-product.woocommerce div.product div.summary .product_meta {
    margin-top: 0;
}
.single-product.woocommerce div.product div.summary .product_meta > span {
    display: block;
    margin-bottom: 5px;
}
.single-product.woocommerce .woocommerce-tabs {
    margin-bottom: 40px;
}
.single-product.woocommerce .woocommerce-tabs > ul {
    list-style: none;
    padding: 0;
    border: 1px solid;
    border-left: 0;
    margin-bottom: 15px;
}
.single-product.woocommerce .woocommerce-tabs ul:before {
    content: '';
    display: table;
}
.single-product.woocommerce .woocommerce-tabs ul:after {
    content: '';
    display: table;
    clear: both;
}
.single-product.woocommerce .woocommerce-tabs > ul li {
    float: left;
    padding: 10px 15px;
    border-left: 1px solid;
    margin: 0 0 -1px;
    border-color: inherit;
}
.single-product.woocommerce .woocommerce-tabs > ul li:first-child {
    border-left: 1px solid;
    border-left-color: inherit;
}
.single-product.woocommerce .woocommerce-tabs > ul li:last-child {
    border-right: 0;
}
.single-product.woocommerce .woocommerce-tabs > ul li.active {
    background-color: inherit;
}
.single-product.woocommerce .woocommerce-tabs > ul li.active:last-child {
    border-right: 1px solid;
    border-right-color: inherit;
}
.single-product.woocommerce .woocommerce-tabs .panel {
    box-shadow: none;
    border: none;
    margin: 0;
}
.single-product.woocommerce .woocommerce-tabs .panel > h2 {
    display: none;
}

/**************************************
* QUICK VIEW AND POPUP ADDED TO CART
***************************************/

.quick-view-overlay {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    opacity: 0;
    background: rgba( 0, 0, 0, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}
.quick-view-overlay.open {
    visibility: visible;
    opacity: 1;
}
.quick-view-overlay:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.quick-view-overlay .content-wrapper {
    display: inline-block;
    vertical-align: middle;
    min-width: 300px;
    max-width: 1000px;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.quick-view-overlay.open .content-wrapper {
    visibility: visible;
}
.quick-view-overlay .main {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #fff;
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2);
}
.quick-view-overlay.open .main {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.quick-view-overlay.product-quick-view .slider-quick-view-container {
    position: relative;
    overflow: hidden;
}
.quick-view-overlay.product-quick-view .slider-quick-view img {
    width: 100%;
    height: auto;
}
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-prev,
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-next {
    position: absolute;
    width: 18px;
    height: 30px;
    top: 45%;
    border: 1px solid;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    opacity: 0.5;
}
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-prev:before {
    margin-right: 2px;
}
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-next:before {
    margin-left: 3px;
}
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-prev:hover,
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-next:hover {
    opacity: 1;
}
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-prev {
    left: -50px;
    -webkit-transition: left 150ms ease-in-out 150ms;
    -moz-transition:    left 150ms ease-in-out 150ms;
    -o-transition:      left 150ms ease-in-out 150ms;
    transition:         left 150ms ease-in-out 150ms;
}
.quick-view-overlay.product-quick-view .slider-quick-view-container:hover .es-nav-prev {
    left: 10px;
}
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-next {
    right: -50px;
    -webkit-transition: right 150ms ease-in-out 150ms;
    -moz-transition:    right 150ms ease-in-out 150ms;
    -o-transition:      right 150ms ease-in-out 150ms;
    transition:         right 150ms ease-in-out 150ms;
}
.quick-view-overlay.product-quick-view .slider-quick-view-container:hover .es-nav-next {
    right: 10px;
}
.quick-view-overlay.product-quick-view .single-product.woocommerce div.product div.images,
.quick-view-overlay.product-quick-view .single-product.woocommerce div.product {
    margin-bottom: 0;
}
.quick-view-overlay.product-quick-view .single-product.woocommerce div.product div.summary {
    padding: 30px 20px;
    text-align: initial;
}
.quick-view-overlay a.overlay-close.remove {
    border: 1px solid;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    z-index: 2;
    opacity: 0.5;
}
.quick-view-overlay a.overlay-close.remove:hover {
    opacity: 1;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}
.quick-view-overlay.product-quick-view .single-product.woocommerce div.product div.summary .rating-single-product,
.quick-view-overlay.product-quick-view .single-product.woocommerce div.product div.summary form.cart,
.quick-view-overlay.product-quick-view .single-product.woocommerce div.product div.summary ul.socials {
    text-align: left;
    float: none;
}
.quick-view-overlay.product-quick-view .single-product.woocommerce div.product div.summary form.cart {
    margin-bottom: 30px;
}
.quick-view-overlay.product-quick-view .single-product.woocommerce .woocommerce-message {
    margin-top: 30px;
}

.quick-view-overlay.added-to-cart-popup .added_to_cart {
    padding: 30px 20px;
    text-align: initial;
}
.quick-view-overlay.added-to-cart-popup .added_to_cart .actions {
    margin-top: 20px;
}
.quick-view-overlay.added-to-cart-popup .added_to_cart .actions a {
    margin-right: 0;
    margin-bottom: 10px;
    display: block;
}
.quick-view-overlay.added-to-cart-popup .added_to_cart .product-image,
.quick-view-overlay.added-to-cart-popup .added_to_cart .product-info {
    display: inline-block;
    vertical-align: middle;
}
.quick-view-overlay.added-to-cart-popup .added_to_cart .product-image img {
    width: 100%;
    height: auto;
}
.quick-view-overlay.added-to-cart-popup .added_to_cart .product-info {
    padding-left: 10px;
}
.quick-view-overlay.added-to-cart-popup .added_to_cart .product-info h3 {
    text-align: left;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
}
.quick-view-overlay.added-to-cart-popup .added_to_cart .product-info span {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

/*******************************************/


/**************************
* CART AND CHECKOUT PAGE
**************************/

#customer_details {
    margin-bottom: 30px;
}

/*.woocommerce form.cart-page, .woocommerce-page form.cart-page {*/
    /*margin-bottom: 70px;*/
/*}*/

.woocommerce .cart-list {
    margin-bottom: 70px;
}


.woocommerce table.shop_table.shipping td section p {
    margin-top: 0;
    margin-bottom: 8px;
    width: 50%;
    display: inline-block;
}
.woocommerce table.shop_table.shipping td section p.form-row-wide:first-child {
    width: 100%;
    display: block;
}
.woocommerce table.shop_table.shipping td section p.form-row-wide:nth-child(2){
    float: left;
    padding-right: 2px;
}
.woocommerce table.shop_table.shipping td section p.form-row-wide-last {
    padding-left: 2px;
}
.woocommerce table.shop_table.coupon td input[type="submit"] {
    float: right;
    margin-top: 8px;
    margin-right: 0;
}
.woocommerce table.shop_table.shipping td button[type="submit"] {
    float: right;
    margin-right: 0;
}
.woocommerce .after-cart h3.head {
    margin: 30px 0 15px 0;
    text-transform: uppercase;
}
.woocommerce table.shop_table.coupon td, .woocommerce table.shop_table.shipping td {
    padding: 0;
}
.woocommerce .cart-collaterals,
#review-order-wrapper {
    border-width: 2px;
    border-style: solid;
    padding: 10px 15px;
}
.woocommerce table.shop_table.cart th {
    padding-bottom: 13px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
}
.woocommerce table.shop_table.cart th.product-name {
    padding-left: 105px;
}
table.shop_table.cart td.product-remove a {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    border: 1px solid;
    opacity: 0.5;
}
table.shop_table.cart td.product-remove a:hover {
    opacity: 1;
}
.woocommerce table.shop_table.cart div.product-thumbnail {
    padding-right: 30px;
}
.woocommerce table.shop_table.cart div.product-thumbnail img {
    width: 75px;
    height: auto;
}
.woocommerce table.cart td.product-name div.product-name-price, .woocommerce table.cart .product-thumbnail {
    vertical-align: middle;
    display: table-cell;
}
.woocommerce table.shop_table.cart th.product-subtotal, .woocommerce table.shop_table.cart td.product-subtotal {
    text-align: right;
    padding-right: 0;
    font-weight: 700;
}
.woocommerce table.shop_table.cart td {
    padding: 18px 0px;
    vertical-align: middle;
}
.woocommerce .cart-collaterals .cart_totals h2,
#payment h2,
h2#order_review_heading {
    margin: 10px 0 20px;
    text-align: center;
}
.woocommerce table.shop_table.cart thead {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.woocommerce .cart-collaterals .cart_totals tbody tr.order-total {
    border-top-width: 2px;
    border-top-style: solid;
}
.woocommerce .cart-collaterals .cart_totals tbody tr.shipping td p,
#order_review table.shop_table tfoot tr.shipping td p {
    text-align: right;
    margin-bottom: 0;
}
.woocommerce table.shop_table.cart tbody .cart_item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.woocommerce .cart-collaterals .cart_totals table {
    margin-bottom: 30px;
}
.woocommerce .cart-collaterals .cart_totals tbody tr td,
#order_review table.shop_table tfoot tr td,
#order_review table.shop_table tbody tr td.product-total,
#order_review table.shop_table thead tr th.product-total {
    text-align: right;
}
.woocommerce .cart-collaterals .cart_totals .cart_update_checkout input {
    width: 100%;
    margin-bottom: 5px;
}
.woocommerce .cart-collaterals th, .woocommerce .cart-collaterals td span, .woocommerce .cart-collaterals table td, #order_review table th, #order_review table td {
    padding: 7px 0;
}
.woocommerce .cart-collaterals th, #order_review table th {
    text-transform: uppercase;
}
.woocommerce .cart-collaterals tr:nth-last-child(2) th, .woocommerce .cart-collaterals tr:nth-last-child(2) td {
    padding: 7px 0 20px 0;
}
div.cart_totals table tr.shipping td p {
    text-align: right;
    padding-left: 5px;
}
#shipping_method li label {
    display: block;
    text-align: right !important;
}
#shipping_method {
    padding: 0;
    margin: 0;
    list-style: none;
}
#shipping_method li {
    margin-bottom: 5px;
}
#shipping_method li input {
    margin-left: 5px;
    float: right;
}
.woocommerce .cart-collaterals tr.order-total th, .woocommerce .cart-collaterals tr.order-total td span {
    padding: 20px 0;
    font-weight: 700;
}
.woocommerce table.shop_table div.product-name-price dl.variation,
.woocommerce table.shop_table td.product-name dl.variation {
    margin: 5px 0;
}
.woocommerce table.shop_table div.product-name-price dl.variation dt,
.woocommerce table.shop_table td.product-name dl.variation dt {
    float: left;
    margin-right: 5px;
}
.woocommerce table.shop_table div.product-name-price dl.variation dd p,
.woocommerce table.shop_table td.product-name dl.variation dd p {
    margin: 0;
}
.woocommerce table.shop_table.coupon.above-summary {
    margin-bottom: 20px;
}
#order_review table.shop_table,
#order_review table.shop_table tbody {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#order_review table.shop_table tfoot tr.total {
    border-top-width: 2px;
    border-top-style: solid;
}
#order_review table.shop_table tbody tr td {
    padding: 7px 0;
}
#order_review table.shop_table tfoot tr.total th {
    padding: 20px 0;
}
#order_review table.shop_table tbody tr:last-child td,
#order_review table.shop_table tfoot tr:nth-last-child(2) th,
#order_review table.shop_table tfoot tr:nth-last-child(2) td {
    padding-bottom: 20px;
}
#order_review table.shop_table tfoot tr:first-child th,
#order_review table.shop_table tfoot tr:first-child td {
    padding-top: 20px;
}
#order_review table.shop_table thead tr th,
#order_review table.shop_table tfoot tr th,
#order_review table.shop_table tfoot tr td {
    font-weight: 700;
}
form.checkout #payment h2 {
    margin-top: 35px;
}
form.checkout #payment ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form.checkout div.place-order {
    margin-top: 10px;
    padding-top: 10px;
    border-top-width: 1px;
    border-top-style: solid;
}
form.checkout div.place-order input[type="submit"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}
#payment .form-row.terms label, #ship-to-different-address label,
.woocommerce-billing-fields p.form-row.create-account label {
    display: inline-block;
    margin: 0;
    font-weight: 600;
}
#payment .form-row.terms input#terms, #ship-to-different-address input,
.woocommerce-billing-fields p.form-row.create-account input,
.woocommerce form.login #rememberme, .woocommerce-page form.login #rememberme {
    margin-top: 3px;
    float: left;
    margin-right: 7px;
}
#payment ul.payment_methods li {
    padding: 15px 0;
    border-top-width: 1px;
    border-top-style: solid;
    position: relative;
}
#payment ul.payment_methods li:first-child {
    border-top: 0;
}
#payment input.input-radio,
#payment label {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    margin-top: 0;
}
#payment input.input-radio {
    margin-right: 5px;
    margin-top: 3px;
    position: absolute;
}
#payment label {
    margin-left: 20px;
    display: block;
}
#payment div.payment_box {
    margin-top: 10px;
}
.woocommerce .login-form-checkout,
.woocommerce .coupon-form-checkout {
    margin-bottom: 20px;
    padding: 20px 20px 10px;
}
.woocommerce .login-form-checkout p,
.woocommerce .coupon-form-checkout p {
    margin-bottom: 10px;
}
.woocommerce .coupon-form-checkout p.coupon_link a,
.woocommerce .login-form-checkout p.login-form-link a {
    margin-left: 5px;
}
.woocommerce .coupon-form-checkout p.input-button {
    text-align: right;
}
.woocommerce .coupon-form-checkout p.input-button input {
    margin-right: 0;
}
.woocommerce .login-form-checkout input.button {
    float: right;
    line-height: normal;
    margin-right: 0;
}
.woocommerce .login-form-checkout label[for="rememberme"],
.woocommerce .login-form-checkout .lost_password {
    float: left;
}
.woocommerce .login-form-checkout .lost_password {
    clear: left;
}
#shippingaddress-title,
#ship-to-different-address {
    margin-bottom: 15px;
    margin-top: 0;
}
#shippingaddress-title {
    padding-top: 20px;
}

/*****************************************
* ORDER COMPLETE
*****************************************/
.woocommerce h3.order-status {
    text-transform: none;
    margin-bottom: 20px;
}
.woocommerce ul.order_info {
    list-style: none;
    border-width: 1px;
    border-style: solid;
    padding: 15px 15px 15px 60px;
    margin-bottom: 20px;
    position: relative;
}
.woocommerce ul.order_info:before {
    content: '';
    background: url('./images/order-complete-icon.png') no-repeat top center;
    position: absolute;
    top: 8px;
    left: 15px;
    width: 35px;
    height: 35px;
}
.woocommerce ul.order_info li {
    display: inline-block;
    margin-right: 5px;
}
.woocommerce table.shop_table.order_details thead,
.woocommerce table.shop_table.order_details tbody {
    border-bottom: 1px solid;
}
.woocommerce table.shop_table.order_details tfoot tr:last-child {
    border-top: 3px solid;
    border-bottom: 1px solid;
}
.woocommerce dl.customer_details dt {
    float: left;
    margin-right: 5px;
    font-weight: 700;
}
.woocommerce dl.customer_details dd {
    margin: 0;
}
.woocommerce table.shop_table.order_details {
    margin-bottom: 50px;
}

.woocommerce table.shop_table.order_details th,
.woocommerce-page table.shop_table.my_account_orders th {
    padding: 10px 0;
    vertical-align: middle;
    text-transform: uppercase !important;
    font-weight: 700;
}
.woocommerce-page table.shop_table.my_account_orders th span,
.woocommerce table.shop_table.order_details tfoot td {
    text-transform: uppercase !important;
    font-weight: 700;
}
.woocommerce table.shop_table.order_details th.product-total,
.woocommerce table.shop_table.order_details tr.order_item td.product-total,
.woocommerce table.shop_table.order_details tfoot td,
.woocommerce-page table.shop_table.my_account_orders thead th,
.woocommerce-page table.shop_table.my_account_orders tbody td {
    text-align: center !important;
}
.woocommerce table.shop_table.order_details tr td {
    padding: 10px 0;
}
.woocommerce table.shop_table.order_details tr.order_item:first-child td,
.woocommerce table.shop_table.order_details tfoot tr:first-child th,
.woocommerce table.shop_table.order_details tfoot tr:first-child td {
    padding-top: 20px;
}
.woocommerce table.shop_table.order_details tr.order_item:last-child td,
.woocommerce table.shop_table.order_details tfoot tr:nth-last-child(2) th,
.woocommerce table.shop_table.order_details tfoot tr:nth-last-child(2) td {
    padding-bottom: 20px;
}
.woocommerce-page table.shop_table.my_account_orders tbody td,
.woocommerce table.shop_table.order_details tfoot tr:last-child th,
.woocommerce table.shop_table.order_details tfoot tr:last-child td {
    padding: 20px 0;
}
.woocommerce-page table.shop_table.my_account_orders tbody td.order-number,
.woocommerce-page table.shop_table.my_account_orders thead th.order-number {
    text-align: left !important;
}
.woocommerce-page table.shop_table.my_account_orders tbody td.order-actions {
    text-align: right !important;
}
.woocommerce div.addresses .col-1,
.woocommerce div.addresses .col-2 {
    width: 50%;
    float: left;
}

/***********************************************
* WISHLIST PAGE
************************************************/

#yith-wcwl-form:before,
#yith-wcwl-form:after {
    content: '';
    display: table;
}
#yith-wcwl-form:after {
    clear: both;
}

#yith-wcwl-form table.shop_table.wishlist_table {
    margin-bottom: 20px;
}
#yith-wcwl-form table.shop_table thead {
    border-bottom: 3px solid;
}
#yith-wcwl-form table.shop_table th {
    padding: 13px 0;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
#yith-wcwl-form table.shop_table th.product-name {
    text-align: left;
}
#yith-wcwl-form table.shop_table tbody tr {
    border-bottom: 1px solid;
}
#yith-wcwl-form table.shop_table td {
    padding: 10px 0;
    vertical-align: middle;
}
#yith-wcwl-form table.shop_table td.product-thumbnail img {
    width: 75px;
    height: auto;
}
#yith-wcwl-form table.shop_table td.product-add-to-cart {
    text-align: right;
}
#yith-wcwl-form .wishlist_table .add_to_cart.button {
    border-radius: 0;
    margin-right: 0;
}
#yith-wcwl-form .yith-wcwl-share {
    margin-bottom: 20px;
    border: 1px solid;
    float: right;
    padding: 15px;
}
#yith-wcwl-form .yith-wcwl-share:before,
#yith-wcwl-form .yith-wcwl-share:after {
    display: table;
    content: '';
}
#yith-wcwl-form .yith-wcwl-share:after {
    clear: both;
}
#yith-wcwl-form .yith-wcwl-share h4 {
    font-weight: 700;
}
#yith-wcwl-form .yith-wcwl-share h4,
#yith-wcwl-form .yith-wcwl-share ul {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    list-style: none;
}
#yith-wcwl-form .yith-wcwl-share ul li {
    display: inline-block;
    font-size: 18px;
    margin: 0 10px;
}
#yith-wcwl-form .yith-wcwl-share ul li a {
    background: none;
    display: block;
    text-align: center;
    font-family: 'FontAwesome';
}
#yith-wcwl-form .yith-wcwl-share ul li a.facebook:before { content: "\f09a"; }
#yith-wcwl-form .yith-wcwl-share ul li a.twitter:before { content: "\f099"; }
#yith-wcwl-form .yith-wcwl-share ul li a.pinterest:before { content: "\f0d2"; }
#yith-wcwl-form .yith-wcwl-share ul li a.googleplus:before { content: "\f0d5"; }
#yith-wcwl-form .yith-wcwl-share ul li a.email:before { content: "\f0e0"; }


/************************************************
* STYLE FOR SINGLE PRODUCT REVIEWS
**********************************************/

#review_form_wrapper #review_form {
    border-width: 1px;
    border-style: solid;
    padding: 15px;
}
#review_form #commentform label {
    margin-bottom: 5px;
}
#review_form #commentform #submit {
    width: 100%;
}
#review_form #commentform input:not([type=submit]) {
    height: 35px;
}
#reviews #reviews_summary .review-rating-value {
    display: none;
}
#reviews #reviews_summary .ywar_stars_value,
#reviews #reviews_summary .ywar_num_reviews,
#reviews #reviews_summary .ywar_filter_reviews {
    line-height: 20px;
    min-width: 50px;
    width: auto;
    text-transform: uppercase;
    font-size: 10px;
}
#reviews #reviews_summary h3 {
    margin-bottom: 20px;
}
#reviews #reviews_summary .woocommerce-product-rating {
    margin-bottom: 25px;
}
#reviews #comments .comment-text .review_vote span.review_helpful {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
#reviews #comments .comment-text .review_vote span.ywar_review_helpful {
    padding-top: 10px;
}
#reviews #comments ol.commentlist {
    margin: 0;
    padding: 0;
    list-style: none;
}
#reviews #comments .commentlist .comment-meta {
    margin-bottom: 10px;
}
#reviews #comments .commentlist .comment-meta p .author {
    text-transform: uppercase;
}
#review_form_wrapper #reply-title {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}

#review_form .wp-social-login-widget{
    margin-bottom: 10px;
}

/*****************************
* MY-ACCOUNT PAGE
******************************/
#my-account-page {
    margin-bottom: 50px;
}
#my-account-sidebar div.user-profile {
    border-style: solid;
    border-width: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
#my-account-sidebar .user-profile div.user-image {
    margin-right: 10px;
}
#my-account-sidebar .user-profile div.user-image img {
    width: 100%;
    height: auto;
}
#my-account-sidebar .user-profile div.user-image,
#my-account-sidebar .user-profile div.user-logout {
    display: inline-block;
    vertical-align: middle;
}
#my-account-sidebar .user-profile span.username {
    display: block;
}
#my-account-sidebar .user-profile span.logout, #my-account-content .addresses .title a.edit {
    display: inline-block;
    cursor: pointer;
}
#my-account-sidebar .user-profile span.logout a, #my-account-content .addresses .title a.edit {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
}
#my-account-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#my-account-sidebar ul:after {
    display: block;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: inherit;
    padding: 60px;
    content: '';
}
#my-account-sidebar ul li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: inherit;
}
#my-account-sidebar ul li:first-child {
    border-right: none;
}
#my-account-sidebar ul li a span:before {
    margin-right: 10px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
#my-account-sidebar ul li a {
    display: block;
    padding: 12px 0;
}

#my-account-content fieldset legend {
    display: none;
}
#my-account-content .myaccount_user {
    margin-bottom: 20px;
}
#my-account-content .addresses .col-1, .woocommerce .addresses .col-1 {
    width: 50%;
    float: left;
}
#my-account-content .addresses .col-2, .woocommerce .addresses .col-2 {
    width: 50%;
    float: right;
}
#my-account-content .addresses .title {
    margin-bottom: 10px;
}
#my-account-content .addresses .title h3, .woocommerce .addresses .title h3 {
    margin-bottom: 5px;
}
#my-account-content div.woocommerce form p input[type="submit"] {
    float: right;
    margin-right: 0 !important;
}
#my-account-content {
    margin-bottom: 50px;
}
table.my_account_orders a.button.cancel, table.my_account_orders a.button.pay {
    margin-right: 5px;
}
table.my_account_orders thead {
    border-bottom: 3px solid;
}
table.my_account_orders tr.order {
    border-bottom: 1px solid;
}
table.my_account_orders tr.order td.order-action a {
    margin-bottom: 0;
}

/************************************
* SLOGAN CART CHECKOUT ORDER-COMPLETE
***************************************/
#slogan.yit-cart-checkout-slogan .slogan-wrapper {
    padding: 60px 0;
}
#slogan.yit-cart-checkout-slogan span > span {
    padding: 16px 20px;
    margin-right: 10px;
    min-width: 300px;
}
#slogan.yit-cart-checkout-slogan span > span:before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 20px;
    background: url('./images/breadcrumb-cart.png') no-repeat;
    margin-right: 10px;
}
#slogan.yit-cart-checkout-slogan .slogan-cart:before {
    background-position: right center;
}
#slogan.yit-cart-checkout-slogan .slogan-checkout:before {
    background-position: -3px center;
}
#slogan.yit-cart-checkout-slogan .slogan-complete:before {
    background-position: -25px center;
}


/**************************************
* LOGIN / REGISTER
***************************************/

#customer_login {
    margin-bottom: 30px;
}
#customer_login form.login {
    border-width: 1px;
    border-style: solid;
}
#customer_login form.login {
    padding: 20px 15px 50px;
}
#customer_login input[type="submit"] {
    float: right;
    margin-right: 0;
}
#customer_login #rememberme {
    margin-right: 5px;
}
#customer_login p.lost_password,
.woocommerce .login-form-checkout .lost_password {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 11px;
}
.woocommerce .login-form-checkout .lost_password {
    margin-bottom: 10px;
    margin-top: 10px;
}
#customer_login .wp-social-login-widget,
.woocommerce .login-form-checkout .wp-social-login-widget {
    display: inline-block;
    padding: 15px;
}
#customer_login .wp-social-login-widget .wp-social-login-connect-with,
.woocommerce .login-form-checkout .wp-social-login-widget .wp-social-login-connect-with {
    margin-right: 10px;
}
#customer_login .wp-social-login-widget > div,
.woocommerce .login-form-checkout .wp-social-login-widget > div {
    vertical-align: middle;
}
#customer_login .wp-social-login-widget .wp-social-login-provider-list,
.woocommerce .login-form-checkout .wp-social-login-widget .wp-social-login-provider-list {
    padding: 0;
}
#customer_login .wp-social-login-widget .wp-social-login-provider-list a,
.woocommerce .login-form-checkout .wp-social-login-widget .wp-social-login-provider-list a {
    margin: 0 10px;
}

/******************************
* CART EMPTY
*******************************/

.woocommerce-page #cart-empty,
.woocommerce-page #return-to-shop {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}
.woocommerce-page #return-to-shop a.btn {
    padding: 12px 50px;
}

/*****************************************/

/***************** THUMBNAILS SLIDER CONTROL ( SINGLE PRODUCT ) *******************/

.single-product.woocommerce div.product div.images .thumbnails.slider .owl-controls .owl-prev,
.single-product.woocommerce div.product div.images .thumbnails.slider .owl-controls .owl-next {
    top: 30%;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.single-product.woocommerce div.product div.images .thumbnails.slider .owl-controls .owl-prev {
    left: -20px;
}
.single-product.woocommerce div.product div.images .thumbnails.slider .owl-controls .owl-next {
    right: -20px;
}
.single-product.woocommerce div.product div.images .thumbnails.slider:hover .owl-controls .owl-prev,
.single-product.woocommerce div.product div.images .thumbnails.slider:hover .owl-controls .owl-next {
    opacity: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.single-product.woocommerce div.product div.images .thumbnails.slider:hover .owl-controls .owl-prev {
    left: 0;
}
.single-product.woocommerce div.product div.images .thumbnails.slider:hover .owl-controls .owl-next {
    right: 0;
}

/* loader  wc 2.3. */

.woocommerce .blockUI.blockOverlay{position:relative}
.woocommerce .blockUI.blockOverlay:before,.woocommerce .loader:before{height:12px;width:80px;position:absolute;top:50%;left:50%;margin-left:-40px;margin-top:-6px;display:block;content:"";background:url(../theme/assets/images/search.gif) no-repeat center;line-height:1;text-align:center;font-size:2em;color:rgba(0,0,0,.75)}


/* fix advanced reviews */

#review_form_wrapper #review_form {
    padding: 0;
    border: none;
    background: none;
}
#review_form #respond {
    padding: 15px;
    background-color: #fafafa;
    border: 1px solid #dbd8d8;
}


/* fix woocommerce sale flash pro */

.thumb-wrapper span.onsale {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

/* yith woocommerce requesta a quote */

/* loop */
.yith-ywraq-add-to-quote {
    border-top-width: 1px;
    border-top-style: solid;
    position: relative;
}

.list .yith-ywraq-add-to-quote {
    border-bottom-width: 0px;
    border-top-width: 0px;
}

.woocommerce .yith-ywraq-add-to-quote .yith-ywraq-add-button .add-request-quote-button.button,.woocommerce .yith-ywraq-add-to-quote .yith-ywraq-add-button .add-request-quote-button.button:hover, .yith_ywraq_add_item_response_message {
   background-color: transparent;
   border: 0;
   padding: 8px 0 8px 21px;
   margin: 0;
   display: inline-block;
   position:relative;
}

.yith-ywraq-add-to-quote .yith_ywraq_add_item_response_message {
    padding: 10px 0 0 0;
}

.yith-ywraq-add-to-quote .yith_ywraq_add_item_browse_message {
    padding: 2px 0 10px 0;
}

.woocommerce .yith-ywraq-add-button .add-request-quote-button.button:before, .yith_ywraq_add_item_response_message:before {
    background: url('../theme/assets/images/quote.jpg') no-repeat top !important;
    content: ' ';
    display: inline-block;
    width: 12px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

/* single product */

.single-product .yith-ywraq-add-to-quote {
    border: 0;
}

.single-product.woocommerce .yith-ywraq-add-to-quote .yith-ywraq-add-button .add-request-quote-button.button {
    padding: 0;
}

.single-product .yith_ywraq_add_item_response_message, .single-product .yith_ywraq_add_item_browse_message {
   float:left;
   padding: 0;
}

.single-product .yith-ywraq-add-to-quote .yith_ywraq_add_item_browse_message {
    padding: 0px 0px 0px 10px;
}

/* Request Quote List */

#yith-ywraq-form td.actions {
    text-align: right;
}

#yith-ywraq-form td.actions input.button {
    padding: 8px 25px;
    border-width: 2px;
}

/* end yith woocommerce requesta a quote */


/* yith woocommerce  cart message */

.woocommerce-cart-notice a.button {
    position: absolute;
    top: 13px;
    right: 13px;
    padding: 8px 25px;
}

/* end yith woocommerce  cart message */

/* yith woocommerce order tracking */

.my_account_orders td.order-actions a.track-button {
    padding: 9px 25px 8px 25px !important;
    height: 35px !important;
    margin-right: 5px;
}

.my_account_orders td.order-actions a.track-button img {
    margin-top: -3px;
}

/* end yith woocommerce order tracking */

